################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContactListSwagger/.vs/ContactListSwagger/v15/Server/sqlite3
